body{
background:#111;
color:white;
text-align:center;
font-family:Arial;
}

.piano{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin-top:50px;
}

.key{

width:90px;
height:220px;

display:flex;
align-items:flex-end;
justify-content:center;

font-weight:bold;
font-size:20px;

border-radius:12px;

cursor:pointer;

color:white;

background:linear-gradient(45deg,#ff4d4d,#ff944d);

transition:0.2s;

box-shadow:0 6px 10px rgba(0,0,0,0.5);

}

.key:nth-child(2){background:#ff944d}
.key:nth-child(3){background:#ffd24d}
.key:nth-child(4){background:#d4ff4d}
.key:nth-child(5){background:#4dff88}
.key:nth-child(6){background:#4dd2ff}
.key:nth-child(7){background:#4d79ff}
.key:nth-child(8){background:#944dff}
.key:nth-child(9){background:#ff4dd2}
.key:nth-child(10){background:#ff4d94}
.key:nth-child(11){background:#ff6666}
.key:nth-child(12){background:#66ff66}

.key:active{
transform:scale(0.95);
}